# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
*.desktop
*.py
*.public

# My configurations:
db.ini
deploy_key_rsa
.*
*/
"*
*"
*.py~
*.txt
*.txt~
*.html
*.html~
*.jpg
*.png
*.gif
*.bng
*.jpeg
*.wav
*.mp3
*.mp4
*.ogg
*.avi
*.rm
*.rmbv

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

*.class

# Package Files #
*.jar
*.war
*.ear


